.aboutintrosection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  gap: 25px;
  background-color: whitesmoke;
}

.aboutintrotext {
  width: 35%;
}

.aboutintroheading {
  font-size: 48px;
  color: #1c75bc;
}

.aboutintrotitle {
  font-size: 28px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  color: #343541;
}

.aboutpic {
  width: 65%;
  display: flex;
  justify-content: center;
}

.aboutinfosection {
  margin-top: 45px;
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 25px;
  background-color: whitesmoke;
}

.aboutinfolist {
  list-style: none;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: whitesmoke;
}

.aboutinfosubheading {
  font-size: 26px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  color: #343541;
}

.aboutinfoheading {
  font-size: 65px;
}

/*----MOBILE VEIW-------*/
@media screen and (max-width: 375px) {
  .aboutintrosection {
    flex-direction: column-reverse;
    padding: 12px;
  }

  .aboutintrotext {
    width: 100%;
    padding: 0px;
  }

  .aboutintroheading {
    font-size: 30px;
  }

  .aboutintrotitle {
    font-size: 22px;
    color: #343541;
    font-weight: 700;
  }

  .aboutintrodescription {
    font-size: 14px;
    color: #343541;
  }

  .aboutpic {
    width: 100%;
    margin-top: 56px;
  }

  .aboutimg {
    width: 100%;
  }

  .aboutinfosection {
    flex-direction: column;
    padding: 12px;
    gap: 25px;
    margin-top: 0px;
  }

  .aboutinfoimg {
    width: 100%;
  }

  .aboutinfoheading {
    font-size: 36px;
    color: #343541;
  }

  .aboutinfosubheading {
    font-size: 26px;
    line-height: 1.2em;
    color: #343541;
  }

  .aboutinfodescription {
    font-size: 14px;
    color: #343541;
  }
}
