@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rock+Salt&display=swap');

.projectintrosection3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 450px;
  justify-content: space-between;
  background-image: url('./assets/imgs/edited/rap_photo.webp');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  padding: 25px;
}

.projectintrotext3 {
  width: 40%;
}

.projectintroheading3 {
  font-family: 'Rock Salt', cursive;
  font-size: 80px;
  margin-bottom: 30px;
  font-weight: 800;

  color: whitesmoke;
}

.projectintrodescription3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
}

.projectctabtn3 {
  margin-right: 25px;
  background-color: #ff671d;
  margin-top: 12px;
  color: whitesmoke;
  font-family: 'Rock Salt', cursive;
}

.projectctabtn3a {
  margin-right: 25px;
  border: solid 1px #ff671d;
  background-color: #3b303200;
  margin-top: 12px;
  color: whitesmoke;
  font-family: 'Rock Salt', cursive;
}

.projectinfosection3 {
  padding: 25px;
  background-color: #241745;
}

.projectinfoheading3 {
  font-family: 'Rock Salt', cursive;
  font-size: 80px;
  font-weight: 800;

  color: whitesmoke;
}

.projectinfodescription3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
  margin-top: 16px;
}

.projectinfosubheading3 {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: whitesmoke;
  margin-top: 8px;
}

.projectpoints3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
}

.projectinfopic3 {
  width: 50%;
  display: flex;
  justify-content: center;
}

.projectinfotext3 {
  width: 50%;
}

.projectinfoimg3 {
  width: 60%;
}

.projectinfoimg13 {
  width: 100%;
}

.projectinfosection3 {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 1em;
}

@media screen and (max-width: 375px) {
  .projectintrosection3 {
    flex-direction: column-reverse;
    height: fit-content;
    background-size: cover;
    padding: 12px;
  }

  .projectintrotext3 {
    width: 100%;
  }

  .projectintroheading3 {
    font-size: 40px;
  }
  .projectinfoheading3 {
    font-size: 33px;
  }
  .projectintrodescription3 {
    font-size: 14px;
  }

  .projectinfodescription3 {
    font-size: 14px;
  }

  .projectctabtn3 {
    margin-top: 12px;
    color: whitesmoke;
    font-size: 14px;
  }

  .projectinfosection3 {
    flex-direction: column;
    padding: 12px;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .projectinfopic3 {
    width: 100%;
    margin-top: 56px;
  }

  .projectinfotext3 {
    width: 100%;
  }

  .projectinfoimg3 {
    width: 100%;
  }
}
