@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.projectintrosection3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 450px;
  justify-content: space-between;
  background-image: linear-gradient(#1a1818bc, #1a1818bc),
    url('./assets/imgs/edited/header.webp');
  background-repeat: no-repeat;
  background-position: center 0px 200px;
  background-size: cover;
  padding: 25px;
}

.projectintrotext3 {
  width: 40%;
}

.projectintroheading3 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
  font-weight: 800;

  color: whitesmoke;
}

.projectintrodescription3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
}

.projectctabtn4 {
  margin-right: 25px;
  background-color: #6acb91;
  margin-top: 12px;
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
}

.projectctabtn4a {
  margin-right: 25px;
  border: solid 1px #6acb91;
  background-color: #3b303200;
  margin-top: 12px;
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
}

.projectinfosection3 {
  padding: 25px;
  background-color: #3b3032;
}

.projectinfoheading3 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 108px;
  font-weight: 800;

  color: whitesmoke;
}

.projectinfodescription3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
  margin-top: 16px;
}

.projectinfosubheading3 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 26px;
  font-weight: 600;
  color: whitesmoke;
  margin-top: 8px;
}

.projectpoints3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
}

.projectinfopic3 {
  width: 50%;
  display: flex;
  justify-content: center;
}

.projectinfotext3 {
  width: 50%;
}

.projectinfoimg3 {
  width: 90%;
}

.projectinfoimg13 {
  width: 100%;
}

.projectinfosection3 {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 1em;
}

@media screen and (max-width: 375px) {
  .projectintrosection3 {
    flex-direction: column-reverse;
    height: fit-content;
    background-size: cover;
    padding: 12px;
  }

  .projectintrotext3 {
    width: 100%;
  }

  .projectintroheading3 {
    font-size: 40px;
  }
  .projectinfoheading3 {
    font-size: 33px;
  }
  .projectintrodescription3 {
    font-size: 14px;
  }

  .projectinfodescription3 {
    font-size: 14px;
  }

  .projectctabtn3 {
    margin-top: 12px;
    color: whitesmoke;
    font-size: 14px;
  }

  .projectinfosection3 {
    flex-direction: column;
    padding: 12px;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .projectinfopic3 {
    width: 100%;
    margin-top: 56px;
  }

  .projectinfotext3 {
    width: 100%;
  }

  .projectinfoimg3 {
    width: 100%;
  }
}
